html,
body {
  height: 100vh;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.sign-up-info p, button {
  color: white;
}

button {
  width: 130px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  align-items: last baseline;
  border: none;
  font-weight: 700;
  font-size: 16px;
  background-color: #3882f6;
}

.black-background {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: space;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 28px;
}

.header-links a {
  text-decoration: none;
}

.header-links a,
.footer {
  font-size: 18px;
  color: #e5e7eb;
}

.logo h1 {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 130px;
}

.sign-up-info {
  display: flex;
  flex-direction: column;
  width: 430px;
  margin-right: 50px;
}

.sign-up-info h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
}

.sign-up-info p {
  flex-wrap: wrap;
  margin: 0 0 15px 0;
  font-size: 18px;
}

.misc-info,
.quotes,
.call-to-action {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
