html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.black-background {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 28px;
}

.header-links a {
  text-decoration: none;
}

.header-links a,
.footer {
  font-size: 18px;
  color: #e5e7eb;
}

.logo h1 {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
